
#a1{
    color:#fc0303;
    background-color: #fcd303;
}
#c1{
    color:#32a83c;
    font-size: 30px;
    background-color: #fc5603;
}
pre{
    color: #fc5603;
}
h2{
    color: #fcd303;
}
body{
    background-color: #b4bfb0;
}
#a2{
    color: #f0571f;
    background-color: #32a83c;
}
#a3{
    color: #f0c61f;
    background-color: #54524b;
}
li{
    color: #fc0303;
}
#a4{
    color: #c7e80c;
    background-color: #54524b;
}
#a5{
    color: #85e80c;
    background-color: #131a0a;
}
#a6{
    color: #109c10;
    background-color: #8cd48c;
}
#a7{
    color: #12c757;
    background-color: #001207;
}
dd{
    color: #0a21f2;
}
#a8{
    color: #0af2b0;
    background-color: #001207;
}
#a9{
    color: #0e9e97;
    background-color: #606e6d;
}
#a10{
    color: #0a21f2;
    background-color: #001207;
}
#a11{
    color: #8009e8;
    background-color: #867496;
}
#a12{
    color: #b40af2;
    background-color: #7e6b85;
}
#a13{
    color: #e00dd2;
    background-color: #756074;
}
#a14{
    color: #e30b90;
    background-color: #916c83;
}
#a15{
    color: #e6070e;
    background-color: #001207;
}
#a16{
    color: #d11161;
    background-color: #73505f;
    font-size: 50px;
}
#a17{
    color: #fc0303;
    background-color: #001207;
    font-size: 50px;
}
#a18{
    color: #1013e3;
}


